<nav class="menu" role="nav">
    <ul>
      <li><a href="/tag/news/">News</a></li>
      <li><a href="/tag/publications/">Publications</a></li>
      <li><a href="/microhh/">MicroHH</a></li>
      <li><a href="/class/">CLASS</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
</nav>
